header 
    .external
        position: relative
        .ajuste
            display: flex
            position: absolute
            .bege
                background-color: $begeMedio
                width: 100px
                height: auto
                +below(800px)
                    display: none
            .imagem
                background-image: url('/../assets/img/layout/img-cabecalho2.png')
                background-repeat: no-repeat
                height: 200px
                width: 500px
                background-size: contain
                background-position-x: 0
                +below(800px)
                    background-position-x: -100px
                    width: 350px
                +below(360px)
                    width: 290px
                .img
                    background-color: $branco
                    background-image: url('/../assets/img/layout/marca-SBC-selo.svg')
                    border-radius: 100%
                    background-repeat: no-repeat
                    background-position-y: 21px;
                    background-position-x: center;
                    background-size: 75%
                    height: 160px
                    width: 160px
                    margin-right: 25px
                    margin-left: auto
                    margin-top: 20px
                    +below(800px)
                        margin-right: 60px

        .superior
            background-color: $verdeMusgo
            padding-left: 700px
            +below(1100px)
                padding-left: 0
                padding-top: 156px
                margin-left: auto
                margin-right: auto
            .info
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                padding-bottom: 35px
                +below(1470px)
                    padding-bottom: 50px
                +below(800px)
                    width: 90%
                    margin-left: auto
                    margin-right: auto
                    justify-content: center
                h1
                    color: $branco
                    sourcesans 36
                    font-style: italic
                    font-weight: 600
                    padding-top: 75px
                    margin-top: 0
                    margin-bottom: 0
                    padding-left: 20px
                    padding-right: 20px
                    +below(800px)
                        sourcesans 25
                        font-weight: 600
                        margin-right: auto
                        margin-left: auto
                        
                .account
                    margin-right: 19%
                    +below(800px)
                        margin-right: 0
                    .flex
                        display: flex
                        margin-top: 25px
                        margin-bottom: 35px
                        justify-content: flex-end
                        p
                            margin: 0
                            color: $branco
                            sourcesans 12
                            font-weight: 300
                        a
                            color: $branco
                            sourcesans 12
                            font-weight: 400
                            margin-top: 0
                            margin-left: 10px
                            display: flex
                            align-items: center
                        img
                            margin-left: 7px
                            background-color: darkred
                            height: 12px
                            border-radius: 100%
                            padding: 2px
                    
                    .search
                        position relative
                        input
                            height: 35px
                            width: 300px
                            border: 0
                            border-radius: 5px
                            sourcesans 16
                            color: $verdeMusgo
                            padding-left: 20px
                            font-weight: 600
                            &::placeholder
                                sourcesans 18
                                color: $verdeMusgo
                                font-weight: 400
                            +below(800px)
                                width: 100%
                        img
                            position: absolute
                            top: 6px
                            right: 10px
                            height: 22px

        .inferior
            background-color: $branco
            nav
                padding-left: 650px
                display: flex
                margin-top: 20px
                +below(1470px)
                    padding-left: 0
                    justify-content: center
                +below(680px)
                    display: block
                .menu
                    display: flex
                    align-items: center
                    height: 50px
                    padding-left: 20px
                    padding-right: 20px
                    vertical-align: middle
                    color: $verdeMusgo
                    sourcesans 18
                    font-weight: 700
                    +below(850px)
                        sourcesans 15
                        font-weight: 700
                .active
                    background-color: $begeClaro
                    border-top-left-radius: 4px
                    border-top-right-radius: 4px
                    position: relative
                    &:before
                        content: ""
                        width: 90%
                        background-color: $vinho
                        position: absolute
                        top: -2px
                        left: 50%
                        height: 3px
                        transform: translateX(-50%)
                        +below(680px)
                            width: 100%
                        

