desktop-base-width = 1200px;
rupture.tablet-cutoff = $tablet = 1200px;
rupture.mobile-cutoff = $mobile = 768px;
rupture.anti-overlap = -1px;

$vermelhoError = #E02227;
$verdeSuccess = #2caf2c;

$preto = #000;
$branco = #FFF;
$marinho = #1C325D;
$begeClaro = #F3F3ED;
$begeMedio = #E2E2D6;
$begeEscuro = #94896F;
$vinho = #690000;
$verdeMusgo = #305965;
$verdeBg = #D1D9DB;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


sourcesans($size, $weight = normal) {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == italic) {
        font-weight: 400;
        font-style: italic;
    }

    if ($weight == bold) {
        font-weight: 700;
    }
}

montserrat($size, $weight = normal) {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 100;
    }

    if ($weight == light) {
        font-weight: 300;
    }

    if ($weight == bold) {
        font-weight: 600;
    }

    if ($weight == extrabold) {
        font-weight: 800;
    }
}

signika($size, $weight = normal) {
    font-family: 'Signika', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == light) {
        font-weight: 300;
    }
}