.externa
    height: auto
    width: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 170px
    .imagem
        background-image: url('/../assets/img/layout/img-cabecalho.png')
        background-repeat: no-repeat
        height: 420px
        width: 740px
        position: relative
        background-size: cover
        background-position-x: -130px
        +below(740px)
            background-position-x: -300px
        .img
            position: absolute
            // display: flex
            // justify-content: center
            // align-items: center
            background-color: $branco
            background-image: url('/../assets/img/layout/marca-SBC-selo.svg')
            border-radius: 100%
            background-repeat: no-repeat
            background-position-y: 21px;
            background-position-x: center;
            background-size: 75%
            height: 180px
            width: 180px
            top: 130px
            right: 1px
            z-index: 2
            +below(740px)
                left:25px
                height: 100px
                width: 100px
                background-position-y: center;

    .father
        width: 600px
        margin-right: auto
        margin-left: auto
        +below(740px)
            width: 90%
        h1
            sourcesans 36
            font-weight: 900
            font-style: italic
            color: $marinho
            margin-top: 45px
            margin-bottom: 10px
            text-align: center
            +below(740px)
                sourcesans 28
                font-weight: 900
        p
            sourcesans 18
            font-weight: 900
            font-style: italic
            color: $marinho
            text-align: center
            margin-top: 0
            margin-bottom: 15px
            +below(740px)
                width: 90%
                sourcesans 17
                font-weight: 900
        .logs
            width: 100%
            height: 280px
            background-color: $begeMedio
            border-radius: 8px
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            color: $preto
            sourcesans 13
            font-weight: 600
            form
                
                +below(740px)
                    width: 90%
            input
                border: 0
                height: 35px
                width: 400px
                display: block
                border-radius: 5px
                +below(740px)
                    width: 100%

            label
                text-align: center
                display: block
                margin-bottom: 5px
                margin-top: 15px
            button
                margin-top: 15px
                margin-bottom: 28px
                display: flex
                width: 200px
                height: 35px
                background-color: $begeEscuro
                justify-content: center
                align-items: center
                color: $branco
                sourcesans 16
                font-weight: 600
                border-radius: 5px
                border: 0
                cursor: pointer
                margin-left: auto
                margin-right: auto
                transition: all 0.5s
                &:hover
                    transform: scale(1.05)
            a
                text-align: center
                display: block
